html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #808080;
}
div{
    position: relative;
    float: left;
}
#div_fruit_list{
    width: 100%;
}
#div_container{
    width: 80%;
    height: 100%;
    border: 0px solid blue;
    margin-left: 10%;
    float: left;
    background-color: honeydew;
}

#tbl_fruit{
    width: 60%;
    line-height: 28px;
    margin-top: 16px;
    margin-left: 20%;
}
#tbl_fruit,#tbl_fruit tr,#tbl_fruit th,#tbl_fruit td{
    border: 1px solid gray;
    border-collapse: collapse;
    text-align: center;
    font-size: 16px;
    font-family: "黑体";
    font-weight: lighter;
    color: threeddarkshadow;
}
#add_fruit_div{
    width: 40%;
    border: 0px solid red;
    margin-left: 30%;
}
#add_fruit_tbl{
    width: 80%;
    margin-left: 10%;
    margin-top: 24px;

}
#add_fruit_tbl,#add_fruit_tbl tr,#add_fruit_tbl td{
    text-align: center;
    border: 1px solid gray;
    border-collapse: collapse;
    line-height: 28px;
}
#add_fruit_tbl td input[type="text"]{
    border: 1px solid lightgray;
    width: 90%;
    padding-left: 4px;
}
.w20{
    width: 20%;
}
.w30{
    width: 30%;
}
.delete_images{
    width:24px ;
    height: 24px;
}
.btn{
    border: 1px solid lightgray;
    width: 80px;
    height: 24px;
}
.center{
    text-align: center;
}
.f30{
    font-size: 30px;
}